<?xml version="1.0"?>
<!--
/**
 * @category  HookahShisha
 * @package   HookahShisha_Catalog
 * @author    Janis Verins <info@corra.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Model\Product\CopyConstructor\Composite">
        <arguments>
            <argument name="constructors" xsi:type="array">
                <item name="shisha" xsi:type="string">HookahShisha\Catalog\Model\Product\CopyConstructor\Shisha</item>
                <item name="charcoal" xsi:type="string">HookahShisha\Catalog\Model\Product\CopyConstructor\Charcoal</item>
            </argument>
        </arguments>
    </type>
    <type name="\Magento\CatalogGraphQl\Model\Resolver\Product\BatchProductLinks">
        <arguments>
            <argument name="linkTypes" xsi:type="array">
                <item name="charcoal" xsi:type="string">charcoal</item>
                <item name="shisha" xsi:type="string">shisha</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Model\Product\LinkTypeProvider">
        <arguments>
            <argument name="linkTypes" xsi:type="array">
                <item name="shisha" xsi:type="const">HookahShisha\Catalog\Model\Product\Link::LINK_TYPE_SHISHA</item>
                <item name="charcoal" xsi:type="const">HookahShisha\Catalog\Model\Product\Link::LINK_TYPE_CHARCOAL</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Model\ProductLink\CollectionProvider">
        <arguments>
            <argument name="providers" xsi:type="array">
                <item name="shisha" xsi:type="object">HookahShisha\Catalog\Model\ProductLink\CollectionProvider\Shisha</item>
                <item name="charcoal" xsi:type="object">HookahShisha\Catalog\Model\ProductLink\CollectionProvider\Charcoal</item>
            </argument>
        </arguments>
    </type>

    <!-- Increased Query complexity from 525 to 550 for product subscription pdp -->
    <!-- Increased Query complexity from 500 to 525 for bundle pdp gallery and few other attribute -->
    <!-- Increased Query complexity from 425 to 500 for bundle pdp -->
    <!-- Increased Query complexity from 300 to 425 for superpack -->
    <!-- Increased Query complexity from 300 to 450 for bundle -->
    <!-- Increased Query complexity from 300 to 454 for alfa_product_links -->
    <type name="Magento\Framework\GraphQl\Query\QueryComplexityLimiter">
        <arguments>
            <argument name="queryDepth" xsi:type="number">20</argument>
            <argument name="queryComplexity" xsi:type="number">550</argument>
        </arguments>
    </type>
</config>
