<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    
    <preference for="Magento\Catalog\Ui\DataProvider\Product\Form\ProductDataProvider" type="Alfakher\GrossMargin\Ui\Magento\Catalog\DataProvider\Product\Form\ProductDataProvider" />

    <preference for="Magento\SharedCatalog\Ui\DataProvider\Configure\Pricing" type="Alfakher\GrossMargin\Ui\Magento\SharedCatalog\DataProvider\Configure\Pricing" />

</config>