<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <insurance>
            <shipping_insurance>
                <status>0</status>
                <amount>0.98</amount>
                <minimum_order_amount>100</minimum_order_amount>
                <percent>2</percent>
            </shipping_insurance>
            <compliance_insurance>
                <status>0</status>
                <amount>0.99</amount>
            </compliance_insurance>
        </insurance>
    </default>
</config>
