<?xml version="1.0"?>
<!--
/**
 * @category  HookahShisha
 * @package   HookahShisha_SalesGraphQl
 * @author    CORRA
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\SalesGraphQl\Model\Shipment\ItemProvider"
                type="HookahShisha\SalesGraphQl\Model\Shipment\ItemProvider"/>
</config>
