<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xml">
    <event name="checkout_submit_all_after">
        <observer name="keep_cart_items_active" instance="HookahShisha\CcavenueGraphQl\Observer\ManageQuote"/>
    </event>
</config>
