<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="hookahshisha" translate="label" sortOrder="130" showInDefault="0" showInWebsite="1" showInStore="1">
            <group id="website_code_setting" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                <field id="website_id" translate="label comment" type="text" sortOrder="10" showInDefault="1"
                       showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Add Website Id</label>
                    <comment><![CDATA[add multiple website id using comma separated.]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>
