<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="shopify" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Shopify Magento Integration</label>
            <tab>hookahshisha</tab>
            <resource>Alfakher_Shopify::shopify_config</resource>
            <group id="general" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Shopify Details</label>
                <field id="shopify_token" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Shopify Tokan Key</label>
                    <comment>Enter Shopify Token.</comment>
                </field>
                <field id="shopify_domain" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Shopify Domain</label>
                    <comment>Enter Shopify Domain.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
