<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    
    <!-- add ststus column in customer tab order listin -->
    <preference for="Magento\Customer\Block\Adminhtml\Edit\Tab\Orders"
                type="HookahShisha\Customization\Block\Adminhtml\Edit\Tab\Orders"/>
</config>
