<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
        <section id="sw_megamenu">
            <group id="general">
                <field id="generate_mega_menu" translate="label" sortOrder="100" showInDefault="0" showInWebsite="0" showInStore="1">
                    <frontend_model>HookahShisha\Customization\Block\System\Config\MegaMenu\Button</frontend_model>
                    <comment>Please click on this button after saving the configuration</comment>
                </field>
            </group>
        </section>
        <section id="hookahshisha" translate="label" sortOrder="500" showInDefault="1" showInWebsite="1" showInStore="1">
            <group id="default_shipping_selection_conf" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Default Selected Shiping Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="selected_shipping_name" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0" >
                    <label>Shipping Method Code</label>
                    <comment><![CDATA[Like tablerate_bestway]]></comment>
                </field>
                <field id="timeout" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0" >
                    <label>Timeout</label>
                </field>
            </group>
        </section>
	</system>
</config>
