<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Alfakher\StockAlert\Api\Data\ProductAlertStockGuestUserInterface"
                type="Alfakher\StockAlert\Model\ProductAlertStockGuestUser" />
    <preference for="Alfakher\StockAlert\Api\ProductAlertStockGuestUserRepositoryInterface"
                type="Alfakher\StockAlert\Model\ProductAlertStockGuestUserRepository"/>
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="product_stock_alert" xsi:type="object">Alfakher\StockAlert\Console\Command\ProductStockAlert</item>
            </argument>
        </arguments>
    </type>
</config>
