<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <annual_bundle>
            <general>
                <is_notify>0</is_notify>
            </general>
        </annual_bundle>
    </default>
</config>
