.main_wrapper {
    margin: 0 auto;
    padding: 0 7rem;
    width: 100%;
    .product_attributes {
        overflow-x: scroll;
        .Product_attributes_head {
            height: 6rem;
            background: transparent linear-gradient(148deg, #229B62 0%, #346DB0 100%);
            display: flex;
            align-items: center;
            padding-left: 3rem;
            span {
                font-size: 16px;
                font-weight: bold;
                color: #ffff;
            }
        }
        table {
            th{
                display: none;
            }
            tr {
                border-bottom: 1px solid #C7D2EC;
                td{
                    padding: 1.7rem 3rem;
                    font-size: 16px;
                    font-weight: 600;
                    text-align: left;
                }
                .td_first {
                    width: 25%;
                    text-transform: capitalize;
                    text-align: left !important;
                }
            }
        }
        &::-webkit-scrollbar{
            display: none;
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .main_wrapper {
        padding: 0 1.6rem !important;
        .product_attributes {
            table {
                tr {
                    td{
                        padding: 1.7rem 0.3rem;
                    }
                    .td_first {
                        width: 100%;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 1400px) and  (min-width: 768px) {
    .main_wrapper {
        padding: 0 2rem !important;
    }
}