.catalog-product-view .page-main-details{
    margin: unset !important;
    max-width: unset !important;
    padding: 0rem 7rem 0rem 7rem !important;
    width: 100%;
}
.block.upsell,
    .blog-page-list .block-products-list .slick-slider {
        .slick-prev {
            display: block;
            position: absolute;
            top: -7rem;
            left: 154rem;
            border: none !important;
            height: 0rem;
            width: 0rem;
        }
        .slick-prev::before {
        content: "";
        display: block;
        height: 4rem;
        width: 4rem;
        background: url('@{baseDir}images/prev.svg') no-repeat !important;
        }

        .slick-prev:hover {
            background: none !important;
        }

        .slick-next:hover {
            background: none !important;
        }

        .slick-next::before {
            content: "";
            display: block;
            height: 4rem;
            width: 4rem;
            background: url('@{baseDir}images/next.svg') no-repeat !important;
            }
        .slick-next {
            position:absolute;
            height: 0rem;
            width: 0rem;
            top: -7rem;
            right: 6rem;
            border: none !important;
            &:before {
                padding-left: 2px;
            }
        }
        .slick-prev,
        .slick-next {
            background-color: transparent;
            border: solid 1px @hookah_theme_color;
            border-radius: 100%;
            height: 3rem;
            width: 3rem;
            &:before {
                color: @color_primary;
                font-size: 1.6rem;
                padding-right: 0;
            }
            &:hover {
                background: @hookah_theme_color;
                &:before {
                    color: @color-white;
                }
            }
        }
        .draggable {
            overflow-x: scroll;
        }
        .draggable::-webkit-scrollbar{
            width: 6px;
            height: 3px;
            background-color: #F5F5F5;
        }
        .draggable::-webkit-scrollbar-thumb {
            background-color: #316BB2;
        }
        .draggable::-webkit-scrollbar-track {
            background-color: #C7D2EC;
        }
        .product-item-photo {
            display: inline-block;
            overflow: hidden;
            width: 100%;
        }
        .product-image-photo {
            height: 70% !important;
        }
    }
    .table.grouped {
        .stock.unavailable {
            .lib-font-size(14);
        }
    }
    .page-main.page-main-details {
        ~ .page-main.page-main-details {
            display: none;
        }
    }

    .block.upsell {
        margin-top: 7rem;
        clear: both;
        position: relative;
        .products-upsell {
            .product-item-info {
                padding: 0 1.5rem;
                width: 100%;
                position: relative;
                .product-item-details {
                    .block-upsell-final-price {
                        font-size: 1.4rem;
                        .block-upsell-final-price-text {
                            color: #FC2F29;
                        }
                    }
                    .product-item-name {
                        margin-top: 1rem;
                    }
                    .product {
                        a{
                            font-size: 1.2rem !important;
                            color: #000;
                            font-weight: 600 !important;
                        }
                    }

                    .product-item-brand {
                        margin-top: 0.1rem;
                        font-size: 1rem;
                        color: #316BB2;
                    }
                }
                .product-image-container {
                    width: 100% !important;
                    background-color: #F6F6F6;
                }
            }
            .product.details.product-item-details {
                text-align: left !important;
                .product-item-link {
                    .lib-font-size(20);
                }
            .product-item-actions {
                position: absolute;
                top: 0px;
                right: 5rem !important;
                .actions-secondary {
                    display: block !important;
                    .action.towishlist:before {
                        font-size: 5rem !important;
                    }
                }
            }
            }
        }
        .block-title.title {
            #block-upsell-heading {
                font-size: 3.5rem !important;
                line-height: 3.8rem !important;
                color: #000 !important;
                margin-bottom: 0 !important;
                position: relative !important;
                font-weight: 700 !important;
                padding-bottom: 1rem !important;
                display: block;
                border-bottom: none !important;
                font-family: unset !important;
            }
            #block-upsell-heading:before {
                background: #FFFFFF !important;
                bottom: 0px;
                content: '';
        }
        }
        .block-content{
            .products-upsell {
                .products::-webkit-scrollbar{
                    width: 0.6rem;
                    height: 0.3rem;
                    background-color: #F5F5F5;
                }
                .products::-webkit-scrollbar-thumb {
                    background-color: #316BB2;
                }
                .products::-webkit-scrollbar-track {
                    background-color: #FFFFFF;
                }
            }
        }
    }

    @media only screen and (max-width: 1025px) {
        .pagebuilder-column.pdp-cms-page-column-image {
            padding: 0rem 0rem !important;
    }
    .catalog-product-view .page-main-details{
        margin: unset !important;
        max-width: unset !important;
        padding: 0rem 2rem 0rem 2rem !important;
        width: 100%;
    }
    }

    .pagebuilder-column.pdp-cms-page-column {
        padding: 0rem 5rem !important;
        align-items: center;
        justify-content: center;
    }
    .global_block_heading {
        font-size: 4rem;
        font-family: @font-family-name__secondary;
        letter-spacing: -0.4px;
        font-weight: 600;
    }
    .global-block-content> p {
        font-size: 1.4rem;
        font-weight: 500;
        font-family: @font-family-name__secondary;
    }
    .block-static-block {
        margin-bottom: 0rem !important;
    }
    @media screen and (max-width: 1040px) {
        .pagebuilder-column.pdp-cms-page-column {
            padding: 1rem !important;
        }
        .global_block_heading {
            font-size: 3rem;
            font-family: @font-family-name__secondary;
            letter-spacing: -0.4px;
            font-weight: 600;
        }
        .pagebuilder-column {
            padding: 0rem 0rem !important;
        }
    }

    @media screen and (max-width: 767px) {
        .block.upsell {
            .products-upsell {
                .product-item-info {
                    .product-image-container {
                        width: 100% !important;
                        padding: 12px;
                        background: #F6F6F6;
                }
                }
                .product.details.product-item-details{
                        .product-item-actions {
                            position: absolute;
                            top: 1.6rem;
                            right: 3.6rem !important;
                    }
                }
            }
        }
    }

