<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="catalog">
            <group id="url" translate="label" type="text" sortOrder="950" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>URL Modification</label>
                <field id="product_url_prefix" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Product URL Prefix</label>
                    <comment>Enter a prefix to prepend to product URLs. This text will be added between Base URL and product URL. Example: "product". Leave empty for no prefix.</comment>
                </field>
                <field id="category_url_prefix" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Category URL Prefix</label>
                    <comment>Enter a prefix to prepend to category URLs. This text will be added between Base URL and category URL. Example: "collections". Leave empty for no prefix.</comment>
                </field>
                <field id="exclude" translate="label comment" type="textarea" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Exclude text from URL</label>
                    <comment>Configuration to exclude certain texts from url, separate multiple texts by each line</comment>
                </field>
            </group>
        </section>
    </system>
</config>
