// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@checkout-payment-method-title__border: @checkout-shipping-method__border;
@checkout-payment-method-title__padding: @checkout-shipping-method__padding;
@checkout-payment-method-title-mobile__padding: 15px;

@checkout-payment-method-content__padding__xl: 22px;

@checkout-billing-address-details__line-height: 27px;
@checkout-billing-address-details__padding: 0 0 0 23px;
@checkout-billing-address-form__max-width: @checkout-shipping-address__max-width;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .checkout-payment-method {
        .payment-method {
            &:first-child {
                .payment-method-title {
                    border-top: 0;
                }
            }

            &._active {
                .payment-method-content {
                    display: block;
                }
            }

            & + .payment-method {
                .payment-method-title {
                    .lib-css(border-top, @checkout-payment-method-title__border);
                }
            }
        }

        .payment-method-content {
            > .actions-toolbar {
                > .primary {
                    .action {
                        &.primary {
                        }
                    }
                }
            }
        }

        .payment-method-title {
            .lib-css(padding, @checkout-payment-method-title__padding 0);
            margin: 0;

            .payment-icon {
                display: inline-block;
                margin-right: @indent__xs;
                vertical-align: middle;
            }

            .action-help {
                display: inline-block;
                margin-left: @indent__xs;
            }
        }

        .payment-method-content {
            display: none;
            .lib-css(padding, 0 0 @indent__base 0);
            .fieldset {
                &:not(:last-child) {
                    margin: 0 0 @indent__base;
                }
                .field.field-select-billing {
                    width: 100%;
                    margin: 3rem 0;
                }
            }
        }

        .payment-group {
            & + .payment-group {
                .step-title {
                    margin: @indent__base 0 0;
                }
            }
        }

        .field-select-billing,
        .billing-address-form {
            .lib-css(max-width, @checkout-billing-address-form__max-width);
        }

        .billing-address-same-as-shipping-block {
            margin: 0 0 @indent__s;
        }

        .checkout-billing-address {
            margin: 0 0 @indent__base;

            .primary {
                .action-update {
                    margin-right: 0;
                    min-width: 200px;
                }
                .action-cancel, .action-cancel:hover {
                    display: inline-block;
                    margin: 0 0 0 20px;
                    min-width: 200px;
                }
            }
            .fieldset .actions-toolbar {
                text-align: left;
                width: 100%;
                display: inline-block;
                float: left;
                margin-left: 0;
                .primary {
                    float: left;
                }
            }
            .billing-address-details {
                .lib-css(line-height, @checkout-billing-address-details__line-height);
                .lib-css(padding, @checkout-billing-address-details__padding);
                line-break: anywhere;
            }
            .action-edit-address {
                margin-top: 10px;
                .lib-button-primary();
                &:hover {
                    border-color: transparent;
                    background: @hookah_theme_gradient;
                }
            }
        }

        .payment-method-note {
            & + .checkout-billing-address {
                margin-top: @indent__base;
            }
        }

        .field-select-billing {
            > .label {
                &:extend(.abs-visually-hidden all);
            }
        }

        .payment-method-iframe {
            background-color: transparent;
            display: none;
            width: 100%;
        }

        .no-payments-block {
            margin: @indent__base 0;
        }

        .payments {
            .legend {
                &:extend(.abs-visually-hidden all);
            }
        }
        .actions-toolbar {
            .primary.checkout {
                margin: 0;
                width: 300px;
                padding: 12px 17px;
                font-size: 16px;
                background: @hookah_theme_color;
                border-color: @hookah_theme_color;
                line-height: 24px;
                &:hover{
                    background: @hookah_theme_gradient;
                    border-color: transparent;
                }
            }
        }
    }

    //
    //  Order Success
    //  _____________________________________________
    .checkout-onepage-success {
        .page-main {
            text-align: center;
            padding: 160px 20px 60px 20px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.10);
            border-radius: 10px;
            margin: 40px auto 80px;
            background: @color_white url('@{baseDir}images/order-success.svg') no-repeat center 60px;
        }
        .actions-toolbar {
            .primary {
                float: none;
            }
        }
        .column.main {
            min-height: 0;
            padding: 0;
        }
        .action.print {
            display: none;
        }
        .page-title {
            .lib-font-size(32);
            font-weight: @font-weight__bold;
            margin-bottom: 30px;
        }
        .actions-toolbar {
            margin-top: 30px;
        }
        .action.primary.continue {
            margin: 0;
            min-width: 375px;
            padding: 12px 17px;
            font-size: 16px;
            background: @hookah_theme_color;
            border-color: @hookah_theme_color;
            letter-spacing: 2px;
            border-radius: 30px;
            text-transform: uppercase;
            &:hover {
                background: @hookah_theme_gradient;
                border-color: transparent;
            }
        }
    }

    //
    //  Responsive
    //  _____________________________________________
    @media only screen and (max-width: 1399px) {
        .checkout-onepage-success {
            .page-main {
                width: 96%;
            }
        }
    }
    @media only screen and (max-width: 1199px) {
        .checkout-onepage-success {
            .page-main {
                margin: 30px auto 60px;
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .checkout-payment-method {
        .payment-methods {
            .lib-css(margin, 0 -(@checkout-payment-method-title-mobile__padding));
        }

        .step-title {
            .lib-css(padding-left, @checkout-payment-method-title-mobile__padding);
            .lib-css(padding-right, @checkout-payment-method-title-mobile__padding)
        }

        .payment-method-title {
            .lib-css(padding, @checkout-payment-method-title-mobile__padding)
        }

        .payment-method-content {
            .lib-css(padding, 0 @checkout-payment-method-title-mobile__padding @indent__base);
        }

        .checkout-billing-address {
            .fieldset .actions-toolbar {
                width: 100%;
                display: block;
                max-width: 300px;
                margin: 0 auto;
            }
            .primary .action-cancel {
                margin: @indent__s 0 0 ;
            }
        }
        .actions-toolbar {
            .primary.checkout {
                width: 260px;
            }
        }
    } 
    
    //
    //  Order Success
    //  _____________________________________________
    .checkout-onepage-success {
        .action.primary.continue {
            min-width: 100%;
        }
        .page-main {
            width: 90%;
            margin: 20px auto;
            padding: 140px 16px 40px 16px;
            background-position: center 30px;
        }
        .page-title {
            .lib-font-size(26);
            margin-bottom: 24px;
        }
        .actions-toolbar {
            margin-top: 25px;
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .checkout-payment-method {
        .actions-toolbar {
            .primary {
                float: right;
                margin: 0;
            }
        }

        .fieldset {
            > .field-select-billing {
                > .control {
                    float: none;
                    width: 100%;
                }
            }
        }

        .payment-method-content {
            .fieldset {
                > .field {
                    margin: 0 0 @indent__base;
                    
                    &.choice {
                        &:before {
                            padding: 0;
                            width: 0;
                        }
                    }

                    &.type {
                        width: 100%;
                        &.no-detection {
                            .control {
                                margin-left: 0;
                            }
                        }
                    }
                    &.cvv {
                        width: 100%;
                        ~ .field {
                            width: 100%;
                            padding-left: 20px;
                        }
                    }
                }
            }
        }
    }

    .checkout-billing-address {
        .action-update {
            float: right;
        }

        .actions-toolbar {
            .action-cancel {
                margin: 6px @indent__base 0 0;
            }
        }
    }
}
