<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
       <tab id="ccavenue_setting" translate="label" sortOrder="10">
           <label>CCAvenue Custom Settings</label>
       </tab>
       <section id="graphql_ccavenue" translate="label" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
           <class>separator-top</class>
           <label>Custom Settings</label>
           <tab>ccavenue_setting</tab>
           <resource>HookahShisha_CcavenueGraphQl::config</resource>
           <group id="general_Setting" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1">
               <label>Settings</label>
               <field id="api_url" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API URL</label>
                </field>
               <field id="redirect_url" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Redirect URL</label>
                </field>
                <field id="cancel_url" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Cancel URL</label>
                </field>
                <field id="failed_url" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Failed URL</label>
                </field>
                <field id="ccavenue_en_url" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Environment URL</label>
                </field>
                <field id="enable_log" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Log</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
           </group>
       </section>
   </system>
</config>