<?php
/**
 * Avalara_Excise
 *
 */

use Avalara\Excise\Helper\Config as ExciseConfig;

return [
    ExciseConfig::XML_PATH_AVALARA_MODULE_ENABLED => 1,
    ExciseConfig::XML_PATH_AVALARA_MODE => 0,
    ExciseConfig::XML_PATH_EXCISE_ACCOUNT_NUMBER => 'Excise_Account_Number',
    ExciseConfig::XML_PATH_EXCISE_LICENSE_KEY => 'Excise_License_Key',
    ExciseConfig::XML_PATH_AVATAX_ACCOUNT_NUMBER => 'Avatax_Account_Number',
    ExciseConfig::XML_PATH_AVATAX_LICENSE_KEY => 'Avatax_License_key',
    ExciseConfig::XML_PATH_AVATAX_EXCISE_COMPANY_ID => 'Excise_Company_ID',
    ExciseConfig::XML_PATH_AVATAX_COMPANY_ID => 'Avatax_Company_ID',
    ExciseConfig::XML_PATH_AVATAX_TAX_MODE => 0
];
