<?xml version="1.0"?>
<!--
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MultiQuickbooksConnect
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited(https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Webkul_MultiQuickbooksConnect::manager" title="Multi Quickbooks Connect" sortOrder="10" >
                    <resource id="Webkul_MultiQuickbooksConnect::account_list" title="Quickbooks Accounts" sortOrder="11" >
                        <resource id="Webkul_MultiQuickbooksConnect::ordermap_list" title="Map Orders" sortOrder="10">
                            <resource id="Webkul_MultiQuickbooksConnect::order_import" title="Export Order To Quickbooks" sortOrder="10" />
                            <resource id="Webkul_MultiQuickbooksConnect::order_map_delete" title="Mapped Order Record Delete" sortOrder="10" />
                        </resource>
                        <resource id="Webkul_MultiQuickbooksConnect::creditmemomap_list" title="Map Credit Memo" sortOrder="11">
                            <resource id="Webkul_MultiQuickbooksConnect::creditmemo_import" title="Export Creditmemo To Quickbooks" sortOrder="10" />
                            <resource id="Webkul_MultiQuickbooksConnect::creditmemo_map_delete" title="Mapped Credit Memo Record Delete" sortOrder="10" />
                        </resource>
                    </resource>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Webkul_MultiQuickbooksConnect::config_quickbooksconnect" title="Multi Quickbooks Connect Configuration" sortOrder="50" >
                            </resource>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
