<?xml version="1.0"?>
<!--
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MultiQuickbooksConnect
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited(https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <wk_multi_quickbooks_connect>
            <general_settings>
                <enable>1</enable>
                <app_integrates_with>oauth2</app_integrates_with>
                <account_type>development</account_type>
            </general_settings>
        </wk_multi_quickbooks_connect>
    </default>
</config>
