<?xml version="1.0"?>
<!--
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MultiQuickbooksConnect
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited(https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Webkul\MultiQuickbooksConnect\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Webkul\MultiQuickbooksConnect\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">logMultiQuickbooksConnect</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">Webkul\MultiQuickbooksConnect\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
    <preference for="Webkul\MultiQuickbooksConnect\Api\Data\AccountInterface" type="Webkul\MultiQuickbooksConnect\Model\Account" />
    <preference for="Webkul\MultiQuickbooksConnect\Api\Data\CreditmemoMapInterface" type="Webkul\MultiQuickbooksConnect\Model\CreditmemoMap" />
    <preference for="Webkul\MultiQuickbooksConnect\Api\AccountRepositoryInterface" type="Webkul\MultiQuickbooksConnect\Model\AccountRepository" />
    <preference for="Webkul\MultiQuickbooksConnect\Api\OrderMapRepositoryInterface" type="Webkul\MultiQuickbooksConnect\Model\OrderMapRepository" />
    <preference for="Webkul\MultiQuickbooksConnect\Api\CreditmemoMapRepositoryInterface" type="Webkul\MultiQuickbooksConnect\Model\CreditmemoMapRepository" />
    <type name="Webkul\MultiQuickbooksConnect\Model\ResourceModel\Account\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">multi_quickbook_accounts</argument>
            <argument name="eventPrefix" xsi:type="string">webkul_multi_quickbook_accounts_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">multi_quickbook_accounts_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Webkul\MultiQuickbooksConnect\Model\ResourceModel\Account</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="multiquickbooksconnect_account_listing_data_source" xsi:type="string">Webkul\MultiQuickbooksConnect\Model\ResourceModel\Account\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
</config>