<?xml version="1.0"?>
<!--
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MultiQuickbooksConnect
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited(https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_submit_all_after">
        <observer name="webkul_quickbooks_checkout_submit_all_after_observer" instance="Webkul\MultiQuickbooksConnect\Observer\SalesOrderSaveCommitAfterObserver" />
    </event>
    <event name="sales_order_invoice_save_after">
        <observer name="webkul_quickbooks_sales_order_invoice_save_after_observer" instance="Webkul\MultiQuickbooksConnect\Observer\SalesOrderInvoiceSaveAfterObserver" />
    </event>
    <event name="sales_order_save_commit_after">
        <observer name="webkul_quickbooks_sales_order_save_commit_after_observer" instance="Webkul\MultiQuickbooksConnect\Observer\SalesOrderCompleteAfterObserver" />
    </event>
    <event name="sales_order_creditmemo_save_after">
        <observer name="webkul_quickbooks_sales_order_creditmemo_save_after_observer" instance="Webkul\MultiQuickbooksConnect\Observer\SalesOrderCreditmemoSaveAfterObserver" />
    </event>
    <!-- <event name="controller_action_predispatch">
        <observer name="webkul_quickbooks_access_token" instance="Webkul\MultiQuickbooksConnect\Observer\AccessTokenCheck" />
    </event> -->
</config>
