<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magedelight\Subscribenow\Model\Service\SubscriptionService" type="HookahShisha\SubscribeGraphQl\Model\Magedelight\Subscribenow\Service\SubscriptionService" />

    <type name="Magedelight\Subscribenow\Model\Service\OrderService">
        <plugin name="Alfa_Address_Info_plugin" type="HookahShisha\SubscribeGraphQl\Plugin\Magedelight\Subscribenow\Model\Service\OrderService" />
    </type>
    <type name="Magento\QuoteGraphQl\Model\Resolver\AddProductsToCart">
        <plugin name="cart_item_subscription_data_set" type="HookahShisha\SubscribeGraphQl\Plugin\Model\Resolver\AddProductsToCart" />
    </type>
    <type name="Magedelight\Subscribenow\Plugin\Checkout\Model\Quote">
        <plugin name="cart_item_subscription_data_set"
                type="HookahShisha\SubscribeGraphQl\Plugin\Quote"
                sortOrder="10"/>
    </type>
    <type name="Magedelight\Subscribenow\Plugin\Checkout\Model\ShippingInformationManagement">
        <plugin name="subscription_customer_address_check"
                type="HookahShisha\SubscribeGraphQl\Plugin\Magedelight\Subscribenow\Checkout\Model\ShippingInformationManagement"
                sortOrder="10"/>
    </type>
    <type name="Magedelight\Subscribenow\Model\Subscription">
        <plugin name="subscription_discount_amount_on_product"
                type="HookahShisha\SubscribeGraphQl\Plugin\Model\Resolver\Subscription"
                sortOrder="10"/>
    </type>
    <type name="Magento\Quote\Model\Quote\Item\CartItemPersister">
        <plugin name="ignore_save_for_subscription_product"
                type="HookahShisha\SubscribeGraphQl\Plugin\Model\Quote\Item\CartItemPersister"
                sortOrder="10"/>
    </type>
    <preference for="Magedelight\Subscribenow\Model\ResourceModel\ProductSubscribers"
                type="HookahShisha\SubscribeGraphQl\Model\ResourceModel\ProductSubscribers" />

    <preference for="Magedelight\Subscribenow\Model\Service\OrderService"
                type="HookahShisha\SubscribeGraphQl\Model\Service\OrderService" />
    <type name="Magedelight\Subscribenow\Model\Data\ProductSubscribers">
        <plugin name="subscribe_product_get_product_options"
                type="HookahShisha\SubscribeGraphQl\Plugin\Model\Data\ProductSubscribers"
                sortOrder="10"
        />
    </type>
</config>
