<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="invoice_capture_bulk_command" xsi:type="object">HookahShisha\InvoiceCapture\Console\Command\InvoiceCaptureBulkCommand</item>
            </argument>
        </arguments>
    </type>
    <type name="Corra\Spreedly\Gateway\Http\Client\HTTPClient">
        <plugin name="spreedly_actual_error_messages_display_returned_from_gateway" type="HookahShisha\InvoiceCapture\Gateway\Http\Client\HTTPClient" sortOrder="10" disabled="false"/>
    </type>
</config>
