<?xml version="1.0"?>
<!--
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @author    Webkul_QuickbookCustomInv
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Webkul\MultiQuickbooksConnect\Block\Adminhtml\Account\Edit\Tab\GeneralConfiguration" type="Webkul\QuickbookCustomInv\Block\Adminhtml\Account\Edit\Tab\GeneralConfiguration" />
    <preference for="Webkul\MultiQuickbooksConnect\Controller\Adminhtml\Ordermap\CreateSalesReceipt" type="Webkul\QuickbookCustomInv\Controller\Adminhtml\Ordermap\CreateSalesReceipt" />
    <preference for="Webkul\MultiQuickbooksConnect\Observer\SalesOrderCompleteAfterObserver" type="Webkul\QuickbookCustomInv\Observer\SalesOrderCompleteAfterObserver" />
    <preference for="Webkul\MultiQuickbooksConnect\Observer\SalesOrderCreditmemoSaveAfterObserver" type="Webkul\QuickbookCustomInv\Observer\SalesOrderCreditmemoSaveAfterObserver" />
    <preference for="Webkul\MultiQuickbooksConnect\Observer\SalesOrderInvoiceSaveAfterObserver" type="Webkul\QuickbookCustomInv\Observer\SalesOrderInvoiceSaveAfterObserver" />
    <preference for="Webkul\MultiQuickbooksConnect\Observer\SalesOrderSaveCommitAfterObserver" type="Webkul\QuickbookCustomInv\Observer\SalesOrderSaveCommitAfterObserver" />
    <preference for="Webkul\MultiQuickbooksConnect\Helper\Data" type="Webkul\QuickbookCustomInv\Helper\Data" />
    <preference for="Webkul\MultiQuickbooksConnect\Helper\QuickBooks" type="Webkul\QuickbookCustomInv\Helper\QuickBooks" />
    <type name="Webkul\QuickbookCustomInv\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Webkul\QuickbookCustomInv\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">quickbookcustominv</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Webkul\QuickbookCustomInv\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
</config>
