<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <social_login>
            <google>
                <enabled>0</enabled>
            </google>
            <facebook>
                <enabled>0</enabled>
            </facebook>
        </social_login>
   </default>
    <websites>
        <ooka_uae>
            <social_login>
                <google>
                    <enabled>0</enabled>
                    <client_id>907838138612-ee7vdov07o748kak35fp9a128uao414n.apps.googleusercontent.com</client_id>
                    <client_secret>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</client_secret>
                    <google_one_tap_signin>1</google_one_tap_signin>
                </google>
                <facebook>
                    <enabled>0</enabled>
                    <app_id>1322564722031148</app_id>
                    <app_secret>f46381300aa06838cb88f0154e96d179</app_secret>
                </facebook>
            </social_login>
        </ooka_uae>
    </websites>
</config>
