<?xml version="1.0"?>
<!--
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MultiQuickbooksConnect
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited(https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
    	<add id="Webkul_MultiQuickbooksConnect::manager" title="Multi Quickbooks Connect" module="Webkul_MultiQuickbooksConnect" sortOrder="10" resource="Webkul_MultiQuickbooksConnect::manager"/>
        <add id="Webkul_MultiQuickbooksConnect::account_list" title="Quickbooks Accounts" module="Webkul_MultiQuickbooksConnect" sortOrder="20" parent="Webkul_MultiQuickbooksConnect::manager" action="multiquickbooksconnect/account" resource="Webkul_MultiQuickbooksConnect::account_list"/>
        <add id="Webkul_MultiQuickbooksConnect::config_quickbooksconnect" title="Configuration Settings" module="Webkul_MultiQuickbooksConnect" sortOrder="25" parent="Webkul_MultiQuickbooksConnect::manager" action="adminhtml/system_config/edit/section/wk_multi_quickbooks_connect" resource="Webkul_MultiQuickbooksConnect::config_quickbooksconnect"/>
    </menu>
</config>
