// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */


//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    body {
        .page-header {
            .warning-section-wrapper {
                .warning-section {
                    .heading-section {
                        h3 {
                             .lib-css(font-family, @font-family__base);
                        }
                    }
                }
            }
            .header-links-wrapper {
                .header-links {
                    padding: 12px 0;

                    .header-item {
                        border-right: 1px solid #fff;
                        padding-inline-end: 20px;

                        &:last-of-type {
                            border: none;
                        }

                        &::before {
                            height: 24px;
                            top: -4px;
                            width: 24px;
                        }

                        .header-text {
                            font-weight: 500;
                            font-size: 14px;
                        }
                    }

                    .tiktok {
                        &::before {
                            background-image: url('@{baseDir}images/tiktok.svg');
                            cursor: pointer;
                        }
                    }
                    .whatsapp {
                        &::before {
                            background-image: url('@{baseDir}images/whatsapp.svg');
                            cursor: pointer;
                        }
                    }

                    .header-top-right {
                        width: 100%;
                        padding-inline-end: 0;
                        justify-content: space-between;

                        .one {
                            gap: 0;

                            .header-item {
                                &.email {
                                    &::before {
                                        background-image: url('@{baseDir}images/email.svg');
                                    }
                                }
                                &.phone {
                                    &::before {
                                        background-image: url('@{baseDir}images/phone.svg');
                                    }
                                }
                            }

                            &:last-child {
                                border: none;
                            }
                        }

                        .two {
                            display: flex;
                            gap: 20px;
                            
                            .header-item {
                                width: auto;
                                padding-right: 40px;
                                margin-right: 0;

                                &:last-child {
                                    padding-right: 0;
                                }

                                &.youtube {
                                    &::before {
                                        background-image: url('@{baseDir}images/youtube.svg');
                                    }
                                }
                                &.facebook {
                                    &::before {
                                        background-image: url('@{baseDir}images/facebook.svg');
                                    }
                                }
                                &.rewards {
                                    width: auto;

                                    a {
                                        color: #fff;
                                        margin-inline-start: 30px;

                                        &:hover {
                                            text-decoration: underline;
                                        }
                                    }

                                    &::before {
                                        background-image: url('@{baseDir}images/rewards.svg');
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .header.content {
                padding: @indent__s 0;

                .logo {
                     width: 230px;
                     height: auto;
                }
                .block-search {
                    margin-top: 20px;
                    .control { 
                        input {
                            height: 35px;
                        }
                    }
                }
            }
        }
    }

    .fieldset {
       > .field.hub_mobile_number {
            margin-bottom: 30px;
        }
        > .field:not(.choice) {
            > .label {
                margin: 0 0 10px 0;
                color: @color-black;
                .lib-font-size(12);
            }
        }
    }
    .modals-wrapper {
        .modal-popup.register-action-error {
            .modal-title {
                letter-spacing: 0;
            }
        }
    }
    .document-title {
        .title {
            font-family: @font-family-name__secondary;
            letter-spacing: 1px;
        }
    }
}


//
//  Mobile
//  _____________________________________________

@media only screen and (max-width: 1024px) {
    .header-links-wrapper {
        display: none;
    }

    body .page-wrapper .page-header .header.content .sign-in .sign-up-ul {
        &:before {
            right: 0px;
        }
        &:after {
            right: 0px !important;
        }
    }

    .amasty_quote-account-view.account {
        .page-title-wrapper {
            .order-actions-toolbar {
                a.action.order {
                    &:before {
                        filter: unset;
                        background-image: url(../images/Union_quote.svg);
                    }
                }
            }
        }
    }
}