// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */


//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    body {
        .page-header {
            .warning-section-wrapper {
                .warning-section {
                    .heading-section {
                        h3 {
                             .lib-css(font-family, @font-family__base);
                        }
                    }
                }
            }
            .header-links-wrapper {
                .header-links {
                    .tiktok {
                        &::before {
                            background-image: url('@{baseDir}images/tiktok.svg');
                            cursor: pointer;
                        }
                    }
                    .whatsapp {
                        &::before {
                            background-image: url('@{baseDir}images/whatsapp.svg');
                            cursor: pointer;
                        }
                    }
                }
            }
            .header.content {
                padding: @indent__s 0;

                .logo {
                     width: 230px;
                     height: auto;
                }
                .block-search {
                    margin-top: 20px;
                    .control { 
                        input {
                            height: 35px;
                        }
                    }
                }
            }
        }
    }

    .about-store {       
        .pagebuilder {
            &-column {
                align-self: center !important;

                h2 {
                    font-size: 40px;
                }

                p {
                    font-size: 16px;
                }

                &-group {
                    gap: 72px;
                    flex-wrap: nowrap;


                }
            }
        }
    }

    .fieldset {
       > .field.hub_mobile_number {
            margin-bottom: 30px;
        }
        > .field:not(.choice) {
            > .label {
                margin: 0 0 10px 0;
                color: @color-black;
                .lib-font-size(12);
            }
        }
    }
    .modals-wrapper {
        .modal-popup.register-action-error {
            .modal-title {
                letter-spacing: 0;
            }
        }
    }
    .document-title {
        .title {
            font-family: @font-family-name__secondary;
            letter-spacing: 1px;
        }
    }
}


//
//  Desktop
//  _____________________________________________

@media only screen and (min-width: 1024px) and (max-width: 1920px) { 
    body {
        .about-store {
            max-width: 100%;
            margin: 0 72px;
        }
    }
}

//
//  Desktop large
//  _____________________________________________

@media only screen and (min-width: 1921px) { 
    body {
        .about-store {
            max-width: 1280px;
            margin: 0 auto;
        }
    }
}

//
//  Mobile
//  _____________________________________________

@media only screen and (max-width: 1024px) {
    .header-links-wrapper {
        display: none;
    }
    
    body .page-wrapper .page-header .header.content .sign-in .sign-up-ul {
        &:before {
            right: 0px;
        }
        &:after {
            right: 0px !important;
        }
    }

    .about-store {
        margin: 0;

        .pagebuilder {
            &-column {
                h2 {
                    font-size: 24px;
                }

                p {
                    font-size: 14px;
                }

                &-group {
                    gap: 0;
                    flex-wrap: wrap;
                }
            }
        }
    }

    .amasty_quote-account-view.account {
        .page-title-wrapper {
            .order-actions-toolbar {
                a.action.order {
                    &:before {
                        filter: unset;
                        background-image: url(../images/Union_quote.svg);
                    }
                }
            }
        }
    }
}