// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */


//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    body {
        .page-header {
            .warning-section-wrapper {
                .warning-section {
                    .heading-section {
                        h3 {
                             .lib-css(font-family, @font-family__base);
                        }
                    }
                }
            }
            .header-links-wrapper {
                .header-links {
                    .tiktok {
                        &::before {
                            background-image: url('@{baseDir}images/tiktok.svg');
                            cursor: pointer;
                        }
                    }
                    .whatsapp {
                        &::before {
                            background-image: url('@{baseDir}images/whatsapp.svg');
                            cursor: pointer;
                        }
                    }
                }
            }
            .header.content {
                padding: @indent__s 0;

                .logo {
                     width: 230px;
                     height: auto;
                }
                .block-search {
                    margin-top: 20px;
                    .control { 
                        input {
                            height: 35px;
                        }
                    }
                }
            }
        }
    }

    .homepage_category_slider { 
        h2 {
            font-size: 40px;
        }

        .pagebuilder-column {
            &:hover {
                > div {
                    top: unset;
                }

                .pagebuilder-button-link {
                    font-weight: 600;
                }

                img {
                    top: -2rem;
                }
            }

            .pagebuilder-button-link {
                font-weight: 600;
                white-space: nowrap;
            }

            img {
                width: auto !important;
                border-right: none;
            }

            p {
                padding-bottom: 2rem;
                background-image: url('@{baseDir}images/category-mask.svg');
                background-repeat: no-repeat;
                background-position: bottom;
                background-size: 156px;
            }
        }

        .hookahs {
            &:hover {
                img {
                    content: url('@{baseDir}images/hookahs.png');
                }
            }
        }
        .hookahs-charcoal {
            &:hover {
                img {
                    content: url('@{baseDir}images/charcoal.png');
                }
            }
        }
        .tobacco-free {
            &:hover {
                img {
                    content: url('@{baseDir}images/tobacco-free.png');
                }
            }
        }
        .shisha {
            &:hover {
                img {
                    content: url('@{baseDir}images/shisha.png');
                }
            }
        }
        .accessories {
            &:hover {
                img {
                    content: url('@{baseDir}images/accessories.png');
                }
            }
        }
        .specials {
            &:hover {
                img {
                    content: url('@{baseDir}images/specials.png');
                }
            }
        }
    }

    .fieldset {
       > .field.hub_mobile_number {
            margin-bottom: 30px;
        }
        > .field:not(.choice) {
            > .label {
                margin: 0 0 10px 0;
                color: @color-black;
                .lib-font-size(12);
            }
        }
    }
    .modals-wrapper {
        .modal-popup.register-action-error {
            .modal-title {
                letter-spacing: 0;
            }
        }
    }
    .document-title {
        .title {
            font-family: @font-family-name__secondary;
            letter-spacing: 1px;
        }
    }
}


//
//  Mobile
//  _____________________________________________

@media only screen and (max-width: 1024px) {
    body .page-wrapper .page-header .header.content .sign-in .sign-up-ul {
        &:before {
            right: 0px;
        }
        &:after {
            right: 0px !important;
        }
    }

    .amasty_quote-account-view.account {
        .page-title-wrapper {
            .order-actions-toolbar {
                a.action.order {
                    &:before {
                        filter: unset;
                        background-image: url(../images/Union_quote.svg);
                    }
                }
            }
        }
    }

    .homepage_category_slider { 
        h2 {
            font-size: 2.4rem;
        }

        .slick-slide {
            margin-right: 2.4rem;

            &:first-of-type {
                margin-left: 2rem;
            }
        }

        .pagebuilder-column {
            .pagebuilder-button-link {
                white-space: unset;
            }

            p {
                background-size: 100%;
            }
        }
    }
}