<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <graphql_payment>
            <payment_details>
                <disable_payment_garphql>1</disable_payment_garphql>
                <payment_needs_disable>checkmo</payment_needs_disable>
            </payment_details>
        </graphql_payment>
    </default>
</config>