<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    
    <preference for="Smartwave\Megamenu\Block\Topmenu" type="HookahShisha\Customization\Block\Topmenu" />
    
    <preference for="Magento\CheckoutStaging\Plugin\PaymentInformationManagementPlugin" type="HookahShisha\Customization\Plugin\PaymentInformationManagementPlugin" />
    <!-- set default state for us customer on checkout -->
    <preference for="Magento\Checkout\Block\Checkout\AttributeMerger" type="HookahShisha\Customization\Block\Checkout\AttributeMerger" />
    
    <!-- Company field search adding on the customer grid -->
    <preference for="Magento\Customer\Model\ResourceModel\Grid\Collection"
    type="HookahShisha\Customization\Model\ResourceModel\Grid\Collection" />

    <type name="Magento\Catalog\Block\Product\AbstractProduct">
        <plugin name="mpproductlabels_product" type="Mageplaza\ProductLabels\Plugin\Block\AbstractProduct" disabled="true"/>
    </type>
</config>
